<!DOCTYPE html>
<html ng-app="oSource">
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>oSource</title>
    <link rel="stylesheet" href="/lib/normalize-css/normalize.css" type="text/css">
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/lib/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.less" type="text/less">
    <script>
        less = {
            env: "development",
            async: false,
            fileAsync: false,
            poll: 1000,
            functions: {},
            dumpLineNumbers: "comments",
            relativeUrls: false,
            rootpath: ":/a.com/"
        };
    </script>
    <base href="/">
</head>
<body>
    <div ng-include="'js/ngApp/app/header.html'"></div>
    <ui-view></ui-view>

    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/satellizer/dist/satellizer.min.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/lib/angular-resource/angular-resource.min.js"></script>
    <script src="/lib/angular-toastr/dist/angular-toastr.tpls.js"></script>

    <script src="/js/ngApp/app/App.js"></script>
    <script src="/js/ngApp/app/HeaderController.js"></script>
    <script src="/js/ngApp/user/login/LoginController.js"></script>
    <script src="/js/ngApp/search/SearchController.js"></script>
    <script src="/js/ngApp/search/SearchService.js"></script>
    <script src="/js/ngApp/profile/ProfileController.js"></script>
    <script src="/js/ngApp/profile/ProfileService.js"></script>
    <script src="/js/ngApp/settings/SettingsController.js"></script>
    <script src="/js/ngApp/user/logout/LogoutController.js"></script>
    <!-- <script src="/js/ngApp/add/AddController.js"></script> -->

</body>
</html>
