<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>oSource</title>
    </head>
    <body>
        <p>Hello world!</p>
        <ui-view></ui-view>
    
    <script src="\public\lib\angular\angular.min.js"></script>
    <script src="\public\lib\angular-ui-router\release\angular-ui-router.min.js"></script>
    </body>
</html>
