@max-page-width: 1200px;

html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    position: relative;
    margin: auto;
    min-height: 100%;
}

// Navigation Bar =============================

header {
    border: 1px dotted blue;
}

.login {
    border: 1px dotted yellow;


    button {
        // border: 1px dotted green;

        display: block;
        margin: auto;
        width: 25%;

        .github {
            border: 1px dotted red;
        }
    }
}
