<footer ng-controller="NavbarController" class="footer">
    &copy; 2016 oSource

    <div align="center">
        <a href="https://www.facebook.com/Teamosource" aria-hidden="true"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/Team_oSource" aria-hidden="true"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
    </div>
    <div align="center">
        <a ng-if="!isAuthenticated()" href="/">| Home |</a>
        <a ng-if="!isAuthenticated()" href="/login">Login |</a>
        <a ng-if="isAuthenticated()" href="/dashboard">| Dashboard |</a>
        <a ng-if="isAuthenticated()" ui-sref="Search">Search Github |</a>
        <a ng-if="isAuthenticated()" href="/about">About |</a>
        <a ng-if="isAuthenticated()" ui-sref="Contribute">Contribute |</a>
    </div>
</footer>
