<header>
    <nav ng-controller="NavbarController" class="navbar navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse">
        <ul class="nav navbar-nav">
            <li ng-if="!isAuthenticated()"><a href="/">Home</a></li>
            <li ng-if="!isAuthenticated()"><a href="/login">Login</a></li>
            <li ng-if="isAuthenticated()"><a href="/dashboard">Dashboard</a></li>
            <li ng-if="isAuthenticated()"><a ui-sref="Search">Search Github</a></li>
        </ul>
        <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
            <li class="header-nav-item dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span><span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/add">New project</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img height="20px" width="20px" ng-src="{{user.picture || 'https://placehold.it/100x100'}}"><span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>Signed in as <br/>{{user.displayName}}</li>
                    <hr/>
                    <li><a href="/dashboard">My Dashboard</a></li>
                    <hr/>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/logout">Signout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </nav>
</header>
