<style>
    .md-list-item-text {
        margin-top: 10px;
        border-top: 1px solid black;
    }
</style>
<div ng-controller="RepoSearchController as vm" layout="column">
        <section layout="row" flex>
            <md-sidenav md-component-id="repoSearch">
                <md-content layout-padding layout="column" layout-align="center start" flex>
                    <form>
                        <md-input-container >
                           <label for="searchOsource">Search Projects</label>
                           <input class="" id="searchOsource" type="text" ng-model="vm.searchTerm" ng-model-options="{debounce: 500}" ng-change="vm.findMatches()" />
                        </md-input-container>
                        <div>{{vm.message}}</div>
                    </form>
                    <md-list ng-if="vm.repoMatch.length">

                          <md-list-item ng-repeat="match in vm.repoMatch" class="md-3-line">
                              <div class="md-list-item-text">
                                  <a href ui-sref="detail({id: match.id})"><h3>Repo name: {{match.name}}</h3></a>
                                  <p><strong>Description</strong>: {{match.description}}</p>

                                  <p><strong>Languages</strong>: {{match.language}}</p>

                                  <p><strong>Skill Level</strong>: {{match.skill}}</p>
                                  <p><strong>Owner</strong>: {{match.owner}}</p>
                              </div>
                          </md-list-item>

                    </md-list>
                </md-content>
            </md-sidenav>
            <!-- <md-content layout-margin flex>
                <md-button aria-label="Search oSource" class="md-raised" ng-click="vm.open()">
                    <md-icon md-font-icon="fa fa-search" class="fa fa-search"></md-icon>
                   Search oSource
                </md-button>
            </md-content> -->
        </section>
</div>
