<div ng-controller="RepoSearchController as vm" layout="column">
        <section layout="row" flex>
            <md-sidenav md-component-id="repoSearch">
                <md-content layout-padding layout="column" flex>
                    <form>
                        <md-input-container >
                           <label for="searchOsource">Search your repos on <strong>oSource</strong> </label>
                           <input class="" id="searchOsource" type="text" ng-model="vm.searchTerm" ng-model-options="{debounce: 1000}" ng-change="vm.findMatches()" />
                        </md-input-container>
                    </form>
                    <md-list ng-if="vm.repoMatch.length">
                      <md-list-item ng-repeat="match in vm.repoMatch" class="md-3-line">
                          <div class="md-list-item-text">
                              <p>{{match.name}}</p>
                              <p>{{match.description}}</p>
                              <p>{{match.language}}</p>
                          </div>
                      </md-list-item>
                    </md-list>
                </md-content>
            </md-sidenav>
            <md-content layout-padding flex>
                <md-button aria-label="Search oSource" class="md-raised" ng-click="vm.open()">
                   Search oSource
                </md-button>
            </md-content>
        </section>
</div>
