<div class="login">
    <h3>Please login with...</h3>
    <form>
        <div class="form-group">
            <button class="btn github" ng-click="authenticate('github')"><i class="fa fa-github" aria-hidden="true"></i> GitHub</button>
            <button class="btn linkedin" ng-click="authenticate('linkedin')"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</button>
            <button class="btn bitbucket" ng-click="authenticate('bitbucket')"><i class="fa fa-bitbucket" aria-hidden="true"></i> Bitbucket</button>

        </div>
    </form>
    <h6 class="disclaimer"><i class="glyphicon glyphicon-warning-sign"></i> To access all features of the site, a Github account is needed to either sign-in or link to your other accounts in your settings.</h6>
</div>
