    <form>
        <div class="form-group">
            <button class="btn" ng-click="authenticate('github')"><i class="fa fa-github" aria-hidden="true"></i> Sign in with GitHub</button>
            <button class="btn" ng-click="authenticate('linkedin')"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Sign in with LinkedIn</button>
            <button class="btn" ng-click="authenticate('bitbucket')"><i class="fa fa-bitbucket" aria-hidden="true"></i> Sign in with Bitbucket</button>
        </div>
    </form>
