<div class="container">
    <div class="well">
        <h1>Search</h1>
        <p class="lead"> Search for a repo to add. </p>
    </div>
    <div class="row">
        <section class="col-md-4 col-xs-12">
            <form ng-submit="search()">
                <div class="form-group">
                    <label for="term">Search term:</label>
                    <input type="text" class="form-control" id="term" name="term" ng-model="term">
                </div>
                <div class="form-group">
                    <label for="lang">Search by language</label>
                    <input id="lang" type="text" class="form-control" ng-model="lang" placeholder="optional">
                    <div class="bg-info">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <small>default is JavaScript</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sort">Sort by:
                        <select name="sort" id="sort" ng-model="sort">
                            <option value="">default</option>
                            <option value="stars">stars</option>
                            <option value="forks">forks</option>
                            <option value="updated">updated</option>
                        </select>
                    </label>
                    <div class="bg-info">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <small>default sorted by stars</small>
                    </div>
                </div>

                <label>
                    <button class="btn btn-success btn-block" type="submit">Search</button>
                </label>
            </form>
        </section>
        <section class="col-md-8 col-xs-12">
            <search-results term="{{term}}" results="results"></search-results>
        </section>
    </div>
</div>
